In [2]:
import pandas as pd
import numpy as np

NameError: name 'sdsaa' is not defined

In [7]:
#1.Create a dataframe of people with their ages .Add a column of voting eligibility as per their age by looping through their ages.
df= pd.DataFrame({'name':['ram','abhi','jishnu'],'age':[10,20,30]})
df

     name  age
0     ram   10
1    abhi   20
2  jishnu   30

In [8]:
df['vote']=np.where(df['age']>18,True,False)
df

     name  age   vote
0     ram   10  False
1    abhi   20   True
2  jishnu   30   True

In [10]:
df['vote2']=pd.Series((False,True,True))
df

     name  age   vote  vote2
0     ram   10  False  False
1    abhi   20   True   True
2  jishnu   30   True   True

In [12]:
#3.Write a Pandas program to add some data to an existing Series.
s1=pd.Series((100,200,'python3',300.124, 400))
s1

0        100
1        200
2    python3
3    300.124
4        400
dtype: object

In [15]:
s1=s1.append(pd.Series(500))
s1

C:\Users\ram\AppData\Local\Temp\ipykernel_988\1300786227.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s1=s1.append(pd.Series(500))

0        100
1        200
2    python3
3    300.124
4        400
0        500
dtype: object

In [30]:
#Write a Pandas program to change the order of a DataFrame columns
df.insert(0,'code',df['vote'],True)
df

    code    name  age   vote
0  False     ram   10  False
1   True    abhi   20   True
2   True  jishnu   30   True

In [22]:
df.pop(1)
df

KeyError: 1

In [28]:
df.drop(columns = df.columns[0], axis = 1, inplace= True)
df

     name  age   vote
0     ram   10  False
1    abhi   20   True
2  jishnu   30   True

In [29]:
#why?use slicing method alternatively

In [31]:
df=df.iloc[:,1:]

In [32]:
df

     name  age   vote
0     ram   10  False
1    abhi   20   True
2  jishnu   30   True

In [35]:
#5.Write a Pandas program to count city wise number of people from a given of data set (city, name of the person).
df=pd.DataFrame({"city":["California","Georgia","Los Angeles","California","Georgia","Los Angeles"],"people":[4,2,4,4,2,4]})
df

          city  people
0   California       4
1      Georgia       2
2  Los Angeles       4
3   California       4
4      Georgia       2
5  Los Angeles       4

In [38]:
df.groupby('city').count()

             people
city
California        2
Georgia           2
Los Angeles       2

In [62]:
#6.Write a Pandas program to add, subtract, multiple and divide two Pandas Series
s3=pd.Series((100,200,3,300.124, 400))
s4=pd.Series((100,200,3,300.124, 400))
for i in range(len(s3)):
    s_sum[i]=s3[i]+s4[i]
    s_sub[i]=s3[i]-s4[i]
    s_div[i]=s3[i]/s4[i]
    s_mult[i]=s3[i]*s4[i]
print(s_sum)

print(s_div)

print(s_sub)

print(s_mult)

0    200.000
1    400.000
2      6.000
3    600.248
4    800.000
dtype: float64
0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
dtype: float64
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
dtype: float64
0     10000.000000
1     40000.000000
2         9.000000
3     90074.415376
4    160000.000000
dtype: float64

In [63]:
#7.Write a program to sort the element of Series S1 into S2

In [65]:
#8.Write a Pandas program to select the rows where the height is not known, i.e. is NaN.
df=pd.DataFrame({'name': ['Asha', 'Radha','Kamal', 'Divy', 'Anjali'], 'height': [ 5.5, 5, np.nan, 5.9, np.nan],'age': [11, 23, 22, 33, 22]})
df

     name  height  age
0    Asha     5.5   11
1   Radha     5.0   23
2   Kamal     NaN   22
3    Divy     5.9   33
4  Anjali     NaN   22

In [81]:
tuple1=np.where(df['height'].isnull())
df_subset=pd.DataFrame(())
for i in range(len(tuple1[0])):
    df_subset=df_subset.append(df.iloc[i])
df_subset

C:\Users\ram\AppData\Local\Temp\ipykernel_988\1862357941.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_subset=df_subset.append(df.iloc[i])
C:\Users\ram\AppData\Local\Temp\ipykernel_988\1862357941.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_subset=df_subset.append(df.iloc[i])

    name  height  age
0   Asha     5.5   11
1  Radha     5.0   23

In [109]:
#9.Write a panda program to read marks detail of Manasvi and Calculate sum of all marks
data = {'Manasvi': ['Physics', 'Chemistry', 'English', 'Maths', 'Computer Sc'], 'marks': [ 89,99,97,99,98],}
df=pd.DataFrame(data)
print(df)
total_marks=int(0)
for i in range(len(df['marks'])):
    #total_marks=total_marks+df.at[i,'marks']
    total_marks=total_marks+df.iloc(1,i)
total_marks
#how to slice a dataframe

       Manasvi  marks
0      Physics     89
1    Chemistry     99
2      English     97
3        Maths     99
4  Computer Sc     98

TypeError: __call__() takes from 1 to 2 positional arguments but 3 were given

In [ ]:
#10.Write a program to create dataframe for 3 student including name and roll numbersand add new columns for 5 subjects and 1 column to calculate percentage. It should include random numbers in marks of all subjects

In [125]:
df=pd.DataFrame({'name':['ram','abhi','jishnu'],'rollnumber':[10,11,12]})
print(df)

df['maths']=pd.Series(np.random.randint(10,size=3))
df['science']=pd.Series(np.random.randint(10,size=3))
df['history']=pd.Series(np.random.randint(10,size=3))
df['gk']=pd.Series(np.random.randint(10,size=3))
df['language']=pd.Series(np.random.randint(10,size=3))
print(df)

df['%']=(df['maths']+df['science']+df['history']+df['gk']+df['language'])/50*100
df

     name  rollnumber
0     ram          10
1    abhi          11
2  jishnu          12
     name  rollnumber  maths  science  history  gk  language
0     ram          10      3        7        4   1         7
1    abhi          11      1        4        7   0         2
2  jishnu          12      9        5        0   5         1

     name  rollnumber  maths  science  history  gk  language     %
0     ram          10      3        7        4   1         7  44.0
1    abhi          11      1        4        7   0         2  28.0
2  jishnu          12      9        5        0   5         1  40.0

In [126]:
#1.Download anycsv, json and excel data set files and load in to your python program