In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv('headbrain.csv')
data

     Gender  Age Range  Head Size(cm^3)  Brain Weight(grams)
0         1          1             4512                 1530
1         1          1             3738                 1297
2         1          1             4261                 1335
3         1          1             3777                 1282
4         1          1             4177                 1590
..      ...        ...              ...                  ...
232       2          2             3214                 1110
233       2          2             3394                 1215
234       2          2             3233                 1104
235       2          2             3352                 1170
236       2          2             3391                 1120

[237 rows x 4 columns]

In [3]:
x=data['Head Size(cm^3)'].values
y=data['Brain Weight(grams)'].values
#makes a numpy array with those values

In [4]:
x

array([4512, 3738, 4261, 3777, 4177, 3585, 3785, 3559, 3613, 3982, 3443,
       3993, 3640, 4208, 3832, 3876, 3497, 3466, 3095, 4424, 3878, 4046,
       3804, 3710, 4747, 4423, 4036, 4022, 3454, 4175, 3787, 3796, 4103,
       4161, 4158, 3814, 3527, 3748, 3334, 3492, 3962, 3505, 4315, 3804,
       3863, 4034, 4308, 3165, 3641, 3644, 3891, 3793, 4270, 4063, 4012,
       3458, 3890, 4166, 3935, 3669, 3866, 3393, 4442, 4253, 3727, 3329,
       3415, 3372, 4430, 4381, 4008, 3858, 4121, 4057, 3824, 3394, 3558,
       3362, 3930, 3835, 3830, 3856, 3249, 3577, 3933, 3850, 3309, 3406,
       3506, 3907, 4160, 3318, 3662, 3899, 3700, 3779, 3473, 3490, 3654,
       3478, 3495, 3834, 3876, 3661, 3618, 3648, 4032, 3399, 3916, 4430,
       3695, 3524, 3571, 3594, 3383, 3499, 3589, 3900, 4114, 3937, 3399,
       4200, 4488, 3614, 4051, 3782, 3391, 3124, 4053, 3582, 3666, 3532,
       4046, 3667, 2857, 3436, 3791, 3302, 3104, 3171, 3572, 3530, 3175,
       3438, 3903, 3899, 3401, 3267, 3451, 3090, 3413, 3323, 3680, 3439,
       3853, 3156, 3279, 3707, 4006, 3269, 3071, 3779, 3548, 3292, 3497,
       3082, 3248, 3358, 3803, 3566, 3145, 3503, 3571, 3724, 3615, 3203,
       3609, 3561, 3979, 3533, 3689, 3158, 4005, 3181, 3479, 3642, 3632,
       3069, 3394, 3703, 3165, 3354, 3000, 3687, 3556, 2773, 3058, 3344,
       3493, 3297, 3360, 3228, 3277, 3851, 3067, 3692, 3402, 3995, 3318,
       2720, 2937, 3580, 2939, 2989, 3586, 3156, 3246, 3170, 3268, 3389,
       3381, 2864, 3740, 3479, 3647, 3716, 3284, 4204, 3735, 3218, 3685,
       3704, 3214, 3394, 3233, 3352, 3391], dtype=int64)

In [5]:
y

array([1530, 1297, 1335, 1282, 1590, 1300, 1400, 1255, 1355, 1375, 1340,
       1380, 1355, 1522, 1208, 1405, 1358, 1292, 1340, 1400, 1357, 1287,
       1275, 1270, 1635, 1505, 1490, 1485, 1310, 1420, 1318, 1432, 1364,
       1405, 1432, 1207, 1375, 1350, 1236, 1250, 1350, 1320, 1525, 1570,
       1340, 1422, 1506, 1215, 1311, 1300, 1224, 1350, 1335, 1390, 1400,
       1225, 1310, 1560, 1330, 1222, 1415, 1175, 1330, 1485, 1470, 1135,
       1310, 1154, 1510, 1415, 1468, 1390, 1380, 1432, 1240, 1195, 1225,
       1188, 1252, 1315, 1245, 1430, 1279, 1245, 1309, 1412, 1120, 1220,
       1280, 1440, 1370, 1192, 1230, 1346, 1290, 1165, 1240, 1132, 1242,
       1270, 1218, 1430, 1588, 1320, 1290, 1260, 1425, 1226, 1360, 1620,
       1310, 1250, 1295, 1290, 1290, 1275, 1250, 1270, 1362, 1300, 1173,
       1256, 1440, 1180, 1306, 1350, 1125, 1165, 1312, 1300, 1270, 1335,
       1450, 1310, 1027, 1235, 1260, 1165, 1080, 1127, 1270, 1252, 1200,
       1290, 1334, 1380, 1140, 1243, 1340, 1168, 1322, 1249, 1321, 1192,
       1373, 1170, 1265, 1235, 1302, 1241, 1078, 1520, 1460, 1075, 1280,
       1180, 1250, 1190, 1374, 1306, 1202, 1240, 1316, 1280, 1350, 1180,
       1210, 1127, 1324, 1210, 1290, 1100, 1280, 1175, 1160, 1205, 1163,
       1022, 1243, 1350, 1237, 1204, 1090, 1355, 1250, 1076, 1120, 1220,
       1240, 1220, 1095, 1235, 1105, 1405, 1150, 1305, 1220, 1296, 1175,
        955, 1070, 1320, 1060, 1130, 1250, 1225, 1180, 1178, 1142, 1130,
       1185, 1012, 1280, 1103, 1408, 1300, 1246, 1380, 1350, 1060, 1350,
       1220, 1110, 1215, 1104, 1170, 1120], dtype=int64)

In [6]:
n=len(x)
x=x.reshape(n,1)
x

array([[4512],
       [3738],
       [4261],
       [3777],
       [4177],
       [3585],
       [3785],
       [3559],
       [3613],
       [3982],
       [3443],
       [3993],
       [3640],
       [4208],
       [3832],
       [3876],
       [3497],
       [3466],
       [3095],
       [4424],
       [3878],
       [4046],
       [3804],
       [3710],
       [4747],
       [4423],
       [4036],
       [4022],
       [3454],
       [4175],
       [3787],
       [3796],
       [4103],
       [4161],
       [4158],
       [3814],
       [3527],
       [3748],
       [3334],
       [3492],
       [3962],
       [3505],
       [4315],
       [3804],
       [3863],
       [4034],
       [4308],
       [3165],
       [3641],
       [3644],
       [3891],
       [3793],
       [4270],
       [4063],
       [4012],
       [3458],
       [3890],
       [4166],
       [3935],
       [3669],
       [3866],
       [3393],
       [4442],
       [4253],
       [3727],
       [3329],
       [3415],
       [3372],
       [4430],
       [4381],
       [4008],
       [3858],
       [4121],
       [4057],
       [3824],
       [3394],
       [3558],
       [3362],
       [3930],
       [3835],
       [3830],
       [3856],
       [3249],
       [3577],
       [3933],
       [3850],
       [3309],
       [3406],
       [3506],
       [3907],
       [4160],
       [3318],
       [3662],
       [3899],
       [3700],
       [3779],
       [3473],
       [3490],
       [3654],
       [3478],
       [3495],
       [3834],
       [3876],
       [3661],
       [3618],
       [3648],
       [4032],
       [3399],
       [3916],
       [4430],
       [3695],
       [3524],
       [3571],
       [3594],
       [3383],
       [3499],
       [3589],
       [3900],
       [4114],
       [3937],
       [3399],
       [4200],
       [4488],
       [3614],
       [4051],
       [3782],
       [3391],
       [3124],
       [4053],
       [3582],
       [3666],
       [3532],
       [4046],
       [3667],
       [2857],
       [3436],
       [3791],
       [3302],
       [3104],
       [3171],
       [3572],
       [3530],
       [3175],
       [3438],
       [3903],
       [3899],
       [3401],
       [3267],
       [3451],
       [3090],
       [3413],
       [3323],
       [3680],
       [3439],
       [3853],
       [3156],
       [3279],
       [3707],
       [4006],
       [3269],
       [3071],
       [3779],
       [3548],
       [3292],
       [3497],
       [3082],
       [3248],
       [3358],
       [3803],
       [3566],
       [3145],
       [3503],
       [3571],
       [3724],
       [3615],
       [3203],
       [3609],
       [3561],
       [3979],
       [3533],
       [3689],
       [3158],
       [4005],
       [3181],
       [3479],
       [3642],
       [3632],
       [3069],
       [3394],
       [3703],
       [3165],
       [3354],
       [3000],
       [3687],
       [3556],
       [2773],
       [3058],
       [3344],
       [3493],
       [3297],
       [3360],
       [3228],
       [3277],
       [3851],
       [3067],
       [3692],
       [3402],
       [3995],
       [3318],
       [2720],
       [2937],
       [3580],
       [2939],
       [2989],
       [3586],
       [3156],
       [3246],
       [3170],
       [3268],
       [3389],
       [3381],
       [2864],
       [3740],
       [3479],
       [3647],
       [3716],
       [3284],
       [4204],
       [3735],
       [3218],
       [3685],
       [3704],
       [3214],
       [3394],
       [3233],
       [3352],
       [3391]], dtype=int64)

In [7]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(x,y,train_size=0.8)#test size too.

In [8]:
ytest

array([1250, 1240, 1260, 1215, 1522, 1297, 1240, 1180, 1090, 1210, 1240,
       1270, 1260, 1120, 1405, 1246, 1310, 1279, 1400, 1060,  955, 1218,
       1075, 1350, 1265, 1190, 1250, 1350, 1280, 1204, 1570, 1235, 1210,
       1370, 1135, 1312, 1235, 1350, 1318, 1460, 1525, 1350, 1230, 1346,
       1070, 1310, 1192, 1490], dtype=int64)

In [9]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()
type(model)

sklearn.linear_model._base.LinearRegression

In [10]:
model.fit(xtrain,ytrain)#xtrain, ytrain inputted, regression line created, lowest loss fuction figured out, changed regression line tested the data and calculated attributes

LinearRegression()

In [11]:
y_predicted=model.predict(xtest)
y_predicted

array([1261.83739612, 1240.63609163, 1285.33763725, 1161.96137134,
       1428.38258324, 1308.32700357, 1248.29921374, 1171.66799267,
       1119.81419975, 1255.96233584, 1245.7448397 , 1289.93551051,
       1321.86518596, 1198.74435745, 1416.37702527, 1192.35842236,
       1235.78278096, 1183.41811324, 1320.33256154, 1175.49955373,
       1048.29172676, 1246.25571451, 1194.40192159, 1307.56069136,
       1191.08123534, 1211.26079022, 1269.50051823, 1319.56624933,
       1246.76658932, 1210.23904061, 1325.1858722 , 1178.05392776,
       1275.37557851, 1416.12158787, 1203.85310552, 1388.78978569,
       1300.40844406, 1276.90820293, 1320.84343634, 1259.7938969 ,
       1455.71438541, 1310.88137761, 1288.9137609 , 1349.45242554,
       1103.72164333, 1297.34319522, 1231.95121991, 1384.44734983])

In [12]:
r2score=model.score(x,y)
r2score

0.6386372329903708

In [13]:
#m=slope=model coefficient
m=model.coef_
m

array([0.2554374])

In [23]:
c=model.intercept_
c

336.2947413185394

In [24]:
model.predict([[123]])

array([368.24632079])

In [25]:
model.predict(xtest)

array([1243.40787547, 1217.95051947, 1487.07114003, 1266.26754208,
       1388.61871224, 1147.81290601, 1042.86625475, 1295.36166322,
       1337.18446236, 1349.13383354, 1261.33193224, 1402.12669705,
       1265.48823526, 1317.96156089, 1377.44864787, 1296.14097004,
       1350.1729093 , 1299.2581973 , 1307.83057228, 1338.48330706,
       1217.95051947, 1268.60546253, 1420.83006064, 1320.0397124 ,
       1204.96207253, 1153.26805372, 1162.61973551, 1208.59883768,
       1428.36335987, 1298.21912155, 1180.28402335, 1056.6340085 ,
       1357.96597746, 1417.1932955 , 1304.45357608, 1246.78487167,
       1292.24443596, 1317.44202302, 1188.07709151, 1115.6015576 ,
       1309.90872379, 1209.11837555, 1233.5366558 , 1474.34246203,
       1282.89275416, 1418.49214019, 1192.75293241, 1307.3110344 ])

In [60]:
df=pd.read_csv('housepricetrain.csv')
type(df)
newdf = df.filter(["TotalBsmtSF","PoolArea","LotArea","SalePrice"], axis=1)
newdf

      TotalBsmtSF  PoolArea  LotArea  SalePrice
0             856         0     8450     208500
1            1262         0     9600     181500
2             920         0    11250     223500
3             756         0     9550     140000
4            1145         0    14260     250000
...           ...       ...      ...        ...
1455          953         0     7917     175000
1456         1542         0    13175     210000
1457         1152         0     9042     266500
1458         1078         0     9717     142125
1459         1256         0     9937     147500

[1460 rows x 4 columns]

In [61]:
newdf.isnull().sum()#have to change null values

TotalBsmtSF    0
PoolArea       0
LotArea        0
SalePrice      0
dtype: int64

In [62]:
x=newdf.drop('SalePrice',axis='columns')
y=newdf.SalePrice#newdf[saleprice]#only this changes in multi

In [65]:
xtrain, xtest, ytrain, ytest = train_test_split(x,y,train_size=0.8)

In [66]:
model2=LinearRegression()
model2.fit(xtrain,ytrain)

LinearRegression()

In [67]:
model2.predict(xtest)

array([223472.64238075, 175179.25291881, 193849.13880389, 180106.56285768,
       239559.39917168, 143340.60038717, 180976.91055529, 161348.97065128,
       194340.75080431, 185620.69508843, 194245.08308807, 169193.09545795,
       152221.81651568, 175033.80806994, 252313.77729601, 220294.65541028,
       289210.43198798, 180656.95921244, 160648.90110858, 220867.40506809,
       273506.22684051, 125126.90494696, 202931.4983288 , 195762.51816747,
       156786.16158141, 172218.78597261, 252835.59347383, 168512.21052106,
       167327.87945487, 144148.23214945, 136263.77234064, 131012.34309428,
       206087.02506239, 145690.44374718, 153241.30067278, 180974.37529202,
       150701.97203608, 160852.86629801, 142665.43322586, 198930.87318319,
       142929.52894123, 157466.97232878, 131086.35643004, 190211.12651305,
       178514.9675909 , 144991.25783714, 237961.25264278, 261394.13828611,
       132632.70836225, 138971.40822759, 128379.10889251, 197610.01648524,
       247618.86945862, 289900.81942981, 271291.11933096, 172110.6972529 ,
       194449.37266573, 209556.27267821, 171513.73390796, 187317.43294625,
       136315.88979813, 160656.25669967, 168537.69107613, 201566.86368937,
       198408.82062174, 204923.97895649, 167073.77129936, 135401.8813212 ,
       151079.44445209, 267319.00887368, 255129.46557161, 232570.59672053,
       149631.67003372, 155358.53829197, 157495.5990651 , 205830.06389697,
       167396.54443524, 185175.19112601,  71556.44860363, 155632.84413577,
       201947.60303553, 181300.11859997, 177292.8178566 , 172974.99767255,
       223238.69046833, 175443.45045384, 168778.88653166, 172334.09213269,
       164539.46662982, 213919.33978357, 159289.24029018, 160205.52513077,
       188626.36392398,  78424.67584299, 199576.48853031, 122685.15967086,
       198959.43443089, 246285.86447188, 172804.87301085, 153763.03396017,
       178283.75458107, 153061.64587599, 223218.83457008, 183353.34425833,
       154696.21834201, 255244.26263338, 162025.58580387, 240788.36776861,
       181300.24804978, 146228.50198889, 210705.19088975, 182560.06807314,
       132277.05252083, 151123.22086614, 159445.60289096, 222124.44474364,
       161983.08137191, 188968.65475482, 200161.67812082, 158938.55315563,
       180659.62392551, 204474.64011857, 202216.68997375, 138370.582377  ,
       199139.96415944, 141975.33742795, 249707.55964518, 215586.55857149,
       177349.89020589, 223392.69381503, 153743.00716689, 174332.7530749 ,
       178878.91280221, 164952.94388922, 192955.71636467, 206635.46074081,
       143269.01179411, 280711.48097317, 202463.91889217, 164215.7960462 ,
       252475.17767902, 172164.66486615, 163013.51091106, 161758.79774528,
       147095.98644826, 249897.71110015, 157158.30457128, 128209.42272636,
       190069.44746432, 194572.92675049, 168213.83066825, 190211.12651305,
       195094.32183458, 206621.54518669, 168062.73711917, 178528.23948273,
       203525.60713641, 159429.96663089, 219722.11809271, 207545.8968286 ,
       179657.95057248, 179579.13072396, 175125.80310478, 109811.20300743,
       162917.70863086, 153691.48169816, 171258.34506945, 195636.18732165,
       146318.1653998 , 125646.76914934, 185335.24533741, 161802.76909776,
       166843.64556153, 279784.42164555, 169619.2577346 , 153623.60723169,
       186510.37065674, 232312.23618254, 192942.08734031, 166640.31380606,
       155596.06618028,  99671.59851231, 156911.39492692, 284788.89980235,
       172566.4476748 , 180697.81712797, 153575.65773884, 217412.59591978,
       158607.97570478, 210048.00031336, 236523.71598299, 202598.64962846,
       151006.00929001, 216969.88612024, 185409.70739704, 402788.65479813,
       175680.19652915, 230457.82229664, 161686.02006056, 176160.70606756,
       161292.05538195, 260265.66284741, 142062.92811453, 145779.77406895,
       139425.96085693, 238758.05465774, 263107.3822216 , 213888.67306723,
       146252.55348192, 182180.32440764, 138914.47914318, 166078.07462152,
       186922.4741144 , 163719.60368833, 130268.83892756, 112927.33622655,
       164287.19992917, 160164.87085456, 158301.92610098, 243870.01573042,
       146758.21048626, 197058.03246108, 169466.71619425, 176984.66789833,
       172410.17666536, 127336.51213534, 180776.43333716, 181874.27480383,
       150720.74936324, 168604.92699446, 186965.48764468, 155639.8804528 ,
       200449.97729501, 197874.93034466, 182427.18749262, 221519.52511794,
       123699.47659593, 205833.37585908, 172291.78622589, 188986.37755429,
       164976.42590948, 202600.763798  , 263476.42838799, 270896.3539101 ,
       249100.69674495,  76581.16077977,  72721.34997945, 203632.52569369,
       202897.53346542, 227093.65331067, 188564.28142261, 268844.63867679,
       149615.94576905, 185177.19477498, 156784.08885709, 148871.65978933,
       120406.57181479, 230380.33121792, 150064.01262488, 168365.97874502,
       256085.33123147, 237921.62373671, 200221.49807361, 134468.56237539,
       114862.99470366, 164639.53869432, 174371.21029113, 201738.66913923,
       124434.42226482, 249162.60835131, 174744.99979743, 154674.3275779 ,
       171198.75127197, 139465.70387032, 160562.43913921, 143374.625625  ,
       163528.05438821, 164487.05752841, 213667.79963564, 208723.8316533 ,
       274153.39199856, 160499.94935918, 160750.07426014, 149099.07936887,
       245082.83896895, 206366.8501566 , 144676.35809158, 209023.89946776,
        71559.57585564, 149071.71591374, 139224.97454047, 146155.82612383])